<p> does this work </p>

<button class="btn btn-default" href="/post" name="generate_sound" type="submit">Generate</button>


<button class="btn btn-default" href="http://www.google.com" name="generate_sound" type="submit">Generate</button>


<a class="btn btn-default" href="/generate_sound" role="button">Generate</a>