<html>
<head>
	<link rel="stylesheet" type="text/css" href="/normalize.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/style.css">

	<!-- tab testing -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class='container'>
			<div class='navbar-brand'>
				EAR-TRAINER APP
			</div>
		</div>
	</nav>
	<div class='container'>
		<div class = "row main-box" >
			<%= yield %>
		</div>
	</div> <!-- close container -->
</body>
</html>
